<!DOCTYPE html>
<html ng-app="Connection">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="ConnectCtrl">
    <h1>Hep</h1>
    Adresse email: <input ng-model="name"/>
    Mot de passe: <input type="password" ng-model="password"/>
    <button ng-click="sendLogs()">Se connecter</button>
    <a href="/register"><button>S'enregistrer</button></a>
</body>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/angular/index.js"></script>
<script src="/js/lib/socket.io.js"></script>
</html>