<!DOCTYPE html>
<html ng-app="regist">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="reg">

<input ng-model="firstName"/><br />
<button ng-click="toto()">Validation</button>

</body>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/angular/Registration.js"></script>
<script src="/js/lib/socket.io.js"></script>
</html>