<!DOCTYPE html>
<html ng-app="regist">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="reg">
    <h1>Hep</h1><br />
    <h2>Inscription</h2><br />
    <input ng-model="registration.firstName" placeholder="Prénom"/><input placeholder="Nom de famille" ng-model="registration.lastName"/><br />
        <input placeholder="Nom de l'entreprise" ng-model="registration.businessName"/><br />
        <input placeholder="Numéro de téléphone" ng-model="registration.phoneNb"/><input placeholder="Numéro de siret" ng-model="registration.siretNb"/><br />
        <input placeholder="Adresse de l'entreprise" ng-model="registration.addr"/><br />
        <input placeholder="Adresse de l'entreprise 2" ng-model="registration.addr2"/><br />
        <input placeholder="Code postal" ng-model="registration.zipCode"/><input placeholder="Ville" ng-model="registration.city"/><br />
        <input placeholder="Adresse mail" ng-model="registration.email"/><br />
        <input placeholder="Mot de passe" ng-model="registration.password" type="password"/><br />
        <input placeholder="Répéter le mot de passe" ng-model="registration.confPassword" type="password"/><br />
        <a ng-show="isNotValid">Error:{{errmsg}}</a><br />
        <button ng-click="validate()">Validation</button>
</body>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/angular/Registration.js"></script>
<script src="/js/lib/socket.io.js"></script>
</html>